:root {
    --primary-color: #c00933;
    --black-color: #000000;
    --white--color: #ffffff;
    --secondary-color: #6d6e71;
    --grey-color: #dcddde;
}

* {
    font-family: montreal-serial-extrabold;
}

html {
    scroll-behavior: smooth;
}

body {
    transition: 1s;
}

.line {
    height: 1px;
    background-color: var(--primary-color);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bgSecondary {
    background-color: var(--grey-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 25px;
}

#navbar {
    background-color: var(--grey-color);
}

#navbar-img {
    width: 270px;
    height: 100px;
}

.theImage img {
    width: 100%;
}

.header h2 {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600;
}
